.footer {
  color: white;
  /* To make the text white */
  font-weight: bold;
  /* To make the text bold */
  text-align: center;
  /* To center-align the text */
  padding: 20px;

}

@media (max-width: 768px) {

  footer {
    padding: 20px;
  }

}