* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-Gold {
    margin: 15px 0; /* Add spacing between carousels */
    /* ... Your carousel styles ... */
  }

:root {
    --carousel-Gold-width: 100vw;
    --carousel-Gold-elements-displayed: 8;
    --carousel-Gold-element-width: calc(var(--carousel-Gold-width) / var(--carousel-Gold-elements-displayed));
    --carousel-Gold-animation-duration: calc(var(--carousel-Gold-elements) * 4s);
}

.carousel-Gold {
    width: var(--carousel-Gold-width);
    height: var(--carousel-Gold-height);
    background-color: #ffffff;
    color: #eee;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 10px 20px 5px gold;
}

.carousel-Gold:before,
.carousel-Gold:after {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.carousel-Gold:before {
    left: 0;
    background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}

.carousel-Gold:after {
    right: 0;
    background: linear-gradient(to left, #ffffff 0%, transparent 100%);
}

.carousel-Gold-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--carousel-Gold-animation-duration) linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--carousel-Gold-element-width) * var(--carousel-Gold-elements)));
    }
}

.carousel-Gold-content li , .carousel-Gold-content-Plat li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--carousel-Gold-element-width);
    max-height: 100%;
    font-size: calc(var(--carousel-Gold-height)*3/4);
    /* 5rem; */
    white-space: nowrap;
}


.carousel-Gold-content li img {
    width: 100%;
}



@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    :root {
        --carousel-Gold-width: 100vw;
        --carousel-Gold-height: 16vh;
        --carousel-Gold-elements-displayed: 3;
    }

    .carousel-Gold:before,
    .carousel-Gold:after {
        width: 5rem;
    }
}