.Entreprises29 {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.Partners-title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: red;
    font-family: 'Cabinet Grotesk Bold';
}

/* Stage 1 */

.container-Official {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, red 0%, transparent 13%);
    overflow: hidden;
    border: 2px solid red;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.title-box {
    width: auto;
    height: 100px;
    margin-right: 10px; /* Add some space between title and logos */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    writing-mode: horizontal-tb; /* Make the title horizontal */
    transform: rotate(0deg); /* Reset rotation for horizontal title */
    font-family: 'Cabinet Grotesk Black';
    font-size: 22px;
}


.vertical-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(-180deg);
    font-size: 22px;
    margin: 0;
    white-space: nowrap;
    font-family: 'Cabinet Grotesk Black';
}

.Official-container-boxes {
    display: flex;
}

.box-Official {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease-in-out;
    background-color: white;
}




.box-Official img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and cover whole box */
}

.box-Official:hover {
    transform: scale(1.1);
}


/* Stage 2 */

.Platinum-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e5e4e2;
    border-radius: 15px;
    height: 140px;
    background-color: white;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    margin-bottom: 25px;
}

.Platinum-container-title {
    position: absolute;
    top: -20px;
    left: 40px;
    background-color: white;
    padding: 0 10px;
    color: #e5e4e2;
    font-family: 'Cabinet Grotesk Black';
}


.Platinum-container-top-boxes,
.Platinum-container-bottom-boxes {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-Platinum {
    width: 150px;
    height: 60px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in-out;
    margin: 0 60px;
}

.box-Platinum img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.box-Platinum:hover {
    transform: scale(1.1);
}

.Gold-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffd700;
    border-radius: 15px;
    height: 120px;
    background-color: white;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 20px;
    margin-bottom: 25px;
}

.Gold-container-title {
    position: absolute;
    top: -20px;
    left: 40px;
    background-color: white;
    padding: 0 10px;
    color: #ffd700;
    font-family: 'Cabinet Grotesk Black';
}

.Gold-container-top-boxes,
.Gold-container-bottom-boxes {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-Gold {
    width: 125px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-in-out;
    margin: 0 17px;
}

.box-Gold img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.box-Gold:hover {
    transform: scale(1.1);
}

.Silver-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #c0c0c0;
    border-radius: 15px;
    height: 120px;
    background-color: white;
    padding: 20px;
    position: relative;
    margin-right: 16px;
    margin-left: 14px;
    margin-bottom: 20px;
}

.Silver-container-title {
    position: absolute;
    top: -20px;
    left: 40px;
    background-color: white;
    padding: 0 10px;
    color: #c0c0c0;
    font-family: 'Cabinet Grotesk Black';
}

.Silver-container-top-boxes,
.Silver-container-bottom-boxes {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-Silver {
    width: 125px;
    height: 50px;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 17px;
    transition: transform 0.4s ease-in-out;
}

.box-Silver img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.box-Silver:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {

    .Entreprises29{
        height: auto;
    }

    .container-Official {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(to bottom, red 0%, transparent 30%); /* Change gradient to top */
        padding: 0%;
    }

    .Official-container-boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }

    
    .title-box {
        background-color: transparent;
        color: white;
        writing-mode: horizontal-tb; /* Make the title horizontal */
        transform: rotate(90deg);
        width: 100%;
        height: 90px;
        font-size: 20px;
    }

    .box-Official {
        flex: 0 0 calc(33.33% - 10px); /* 33.33% width for each box with margin in between */
        margin: 5px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        transition: transform 0.4s ease-in-out;
        width: auto;
        height: auto;
      }
      

.Platinum-container,
.Gold-container,
.Silver-container{
    height: auto;
}

    .Platinum-container-top-boxes,
    .Platinum-container-bottom-boxes,
    .Gold-container-top-boxes,
    .Gold-container-bottom-boxes,
    .Silver-container-top-boxes,
    .Silver-container-bottom-boxes {
        flex-direction: row; /* Change the direction to row */
        flex-wrap: wrap; /* Allow items to wrap onto a new line */
        justify-content: center; /* Center the items horizontally */
        align-content: center; /* Center the items vertically */
    }

    .box-Platinum{
        width: calc(33% - 10px); /* 25% width for each box with a bit of margin in between */
        height: auto; /* Allow the height to adjust based on the content */
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Hide any overflowing content */
    }


    .box-Gold{
        width: calc(20% - 10px); /* 25% width for each box with a bit of margin in between */
        height: auto; /* Allow the height to adjust based on the content */
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Hide any overflowing content */
    }

    .box-Silver {
        width: calc(25% - 10px); /* 25% width for each box with a bit of margin in between */
        height: auto; /* Allow the height to adjust based on the content */
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* Hide any overflowing content */
    }

    .box-Silver img {
        max-width: 100%; /* Ensure the images don't exceed the width of the container */
        max-height: 100%; /* Allow images to scale proportionally */
        object-fit: contain; /* Keep the aspect ratio and fit inside the box */
    }

}
