* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carousel-Silver {
    margin: 15px 0; /* Add spacing between carousels */
    /* ... Your carousel styles ... */
  }

:root {
    --carousel-Silver-width: 100vw;
    --carousel-Silver-elements-displayed: 12;
    --carousel-Silver-element-width: calc(var(--carousel-Silver-width) / var(--carousel-Silver-elements-displayed));
    --carousel-Silver-animation-duration: calc(var(--carousel-Silver-elements) * 3s);
}

.carousel-Silver {
    width: var(--carousel-Silver-width);
    height: var(--carousel-Silver-height);
    background-color: #ffffff;
    color: #eee;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 10px 20px 0px silver;
}

.carousel-Silver:before,
.carousel-Silver:after {
    position: absolute;
    top: 0;
    width: 2rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.carousel-Silver:before {
    left: 0;
    background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}

.carousel-Silver:after {
    right: 0;
    background: linear-gradient(to left, #ffffff 0%, transparent 100%);
}

.carousel-Silver-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrollingSilver var(--carousel-Silver-animation-duration) linear infinite;
}

@keyframes scrollingSilver {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--carousel-Silver-element-width) * var(--carousel-Silver-elements)));
    }
}

.carousel-Silver-content li , .carousel-Silver-content-Plat li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--carousel-Silver-element-width);
    max-height: 100%;
    font-size: calc(var(--carousel-Silver-height)*3/4);
    /* 5rem; */
    white-space: nowrap;
}


.carousel-Silver-content li img {
    width: 100%;
}



@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    :root {
        --carousel-Silver-width: 100vw;
        --carousel-Silver-height: 5vh;
        --carousel-Silver-elements-displayed: 6;
    }

    .carousel-Silver:before,
    .carousel-Silver:after {
        width: 1rem;
    }
}