.container-Espaces {
    text-align: center;
    color: var(--color);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../../images/ForumImages/BackgroundEspaces.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.item {
    display: flex;
    width: 320px;
    height: 500px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    transition: transform 0.4s ease-in-out;
}

.item:hover {
    transform: scale(1.1); /* Increase the size on hover */
}

.img {
    width: 90%;
    min-height: 170px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;
}

.img-stands {
    background-image: url('../../images/ForumImages/EspaceStands.JPG');
}

.img-conferences {
    background-image: url('../../images/ForumImages/EspaceConferences.JPG');
}

.VoirPlus {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
    font-family: 'Aileron Thin';
  }

.buttons {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

@media (max-width: 768px) {
    .container-Espaces {
        flex-direction: column;
        gap: 1em;
        justify-content: space-between;
        align-items: center;
    }

    .item {
        display: flex;
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }

    .img {
        background-color: lightgrey;
        border-radius: .3em;

    }

    .item h3 {
        font-size: 18px;
        /* Adjust font size for heading */
        margin-top: 0.5em;
        /* Adjust margin for heading */
    }

    .item p {
        font-size: 14px;
        /* Adjust font size for paragraph */
        margin-top: 0.5em;
        /* Adjust margin for paragraph */
    }
}
