@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); /* Playfair Display Regular 400 */


#videoContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#PresentationVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gradientOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
    /* Adjust the opacity values to control the fading effect */
    pointer-events: none;
    /* This allows clicks to go through the overlay to the video/text below */
}

/* Hide Picture-in-Picture toggle button */
video::-webkit-media-controls-enclosure {
    display: none !important;
}



#PresentationVideoTextOverlay {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: left;
    font-family: 'Aileron Regular';
}

#PresentationVideoTextOverlay p {
    color: #ffffff;
    font-size: 50px;
    font-weight: normal;
    line-height: 1.2;
    white-space: nowrap;
    /* Prevent the text from wrapping */
}


#PresentationVideoTextOverlay p span.golden2 {
    font-family: 'Aileron Semi Bold';
}


.button-container {
    position: absolute;
    top: 67%;
    /* Adjust the value to lower or raise the button */
    left: 26%;
    /* Adjust the value to position the button horizontally */
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: 'Aileron Light';
}

.recruting-button {
    padding: 25px 30px;
    /* This controls the size of the button */
    background-color: white;
    color: #9F1D35;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.recruting-button:hover {
    background: #9F1D35;
    color: #050801;
    box-shadow: 0 0 5px #9F1D35,
        0 0 25px #9F1D35,
        0 0 50px #9F1D35,
        0 0 200px #9F1D35;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}



@media (max-width: 768px) {

    #PresentationVideoTextOverlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    #PresentationVideoTextOverlay p {
        font-size: 40px;
        word-wrap: break-word;
        max-width: 100%;
        white-space: normal; /* Make sure white space is treated normally */
        overflow-wrap: break-word; /* Handle long words that don't contain spaces */
    }

    #PresentationVideoTextOverlay p .mobile-br {
        margin-bottom: 10px; /* Add space below the first part of the sentence on mobile */
    }
    #PresentationVideoTextOverlay p span.no-wrap {
        white-space: nowrap; /* Prevent the word from breaking across lines */
    }

    .recruting-button {
        padding: 10px 10px;
        /* This controls the size of the button */
        font-size: 10px;
    }

    .button-container {
        position: absolute;
        top: 68%;
        /* Adjust the value to lower or raise the button */
        left: 50%;
        /* Adjust the value to position the button horizontally */
    }
}