@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital@1&display=swap');

.recruting-section {
    position: relative;

}

.recruting-background {
    background-image: url('/images/Recruting.png');
    position: relative;
    z-index: 1;
}

.recruting-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
}


.recruting-text {
    position: absolute;
    top: 50%;
    /* Adjust the value to position the text vertically */
    left: 34%;
    /* Adjust the value to position the text horizontally */
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    max-width: 700px;
    /* Adjust the maximum width of the text box as needed */
    color: white;
    font-family: 'Volkhov', serif;
}

/* Additional styling for the button and other elements if required */

.button-container {
    position: absolute;
    top: 73%;
    /* Adjust the value to lower or raise the button */
    left: 18%;
    /* Adjust the value to position the button horizontally */
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: 'Raleway', sans-serif;
}

.recruting-button {
    padding: 25px 30px;
    /* This controls the size of the button */
    background-color: #050801;
    color: #9F1D35;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.recruting-button:hover {
    background: #9F1D35;
    color: #050801;
    box-shadow: 0 0 5px #9F1D35,
        0 0 25px #9F1D35,
        0 0 50px #9F1D35,
        0 0 200px #9F1D35;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


/*----------------------------------------------------MOBILE ---------------------------------------------------------*/

@media (max-width: 768px) {

    .recruting-background {
        display: none;
        /* Hide the normal version on mobile */
    }

    .recruting-background-mobile {
        background-image: url("/images/MobileRecruting.png");
        /* Add other styles for the mobile background */
    }

    .button-container {
        position: absolute;
        top: 55%;
        /* Adjust the value to lower or raise the button */
        left: 37%;
        /* Adjust the value to position the button horizontally */
        transform: translate(-50%, -50%);
        z-index: 2;
        font-family: 'Raleway', sans-serif;
    }

    .recruting-button {
        padding: 10px 25px;
        /* This controls the size of the button */
        font-size: 12px;
    }

    .recruting-text h1 {
        font-size: 21px;
    }

    .recruting-text {
        font-size: 13px;
        position: absolute;
        top: 35%;
        /* Adjust the value to position the text vertically */
        left: 34%;
        /* Adjust the value to position the text horizontally */
    }
}