@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/* Poppins Thin 100 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/* Montserrat Thin 100 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100&display=swap');
/* Noto Serif Thin 100  */



/*Splitting the whole segment in two side : left & right */

.articles-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* LEFT SIDE */

.left-article {
    background-color: black;
}

/* Style for the container div */
.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style for each individual div */
.box {
    width: 31%;
    height: 95px;
    box-sizing: border-box;
    margin: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to the top */
    align-items: center;
}

/* Style for the merged box */
.merged-box {
    width: 62%;
    /* Adjust as needed to accommodate the merged box */
}

/* Style for each row */
.row {
    display: flex;
    justify-content: right;
    width: 100%;
}

/* Remove margin from the <p> elements inside .box */
.box p {
    margin: 0;
}


/* All the Writing of the Left Side */

.stats-title {
    font-size: 23px;
    text-align: center;
    color: white;
    margin-left: 243px;
    /* Adjust the margin to move the stats section towards the right */
    font-family: 'Cabinet Grotesk Thin';
}

.stats {
    font-size: 65px;
    text-align: center;
    color: white;
    margin-bottom: 1px;
    /* Add margin between stat and description */
    font-family: 'Cabinet Grotesk Extralight';
}

.description {
    font-size: 14px;
    text-align: center;
    color: white;
    width: 170px;
    /* Adjust the width as needed */
    font-family: 'Cabinet Grotesk Extralight';
}



/* RIGHT SIDE */


.right-article {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-article img {
    width: 100%;
    /* Set the width to 100% of the parent container */
    max-width: 300px;
    /* Set a maximum width for the image to control its size */
    height: auto;
    /* Maintain the aspect ratio of the image */
    display: block;
    /* Remove any default inline spacing */
    margin-right: 160px;
    /* Adjust the value to lower the image */
    margin-bottom: 20px;
    margin-top: 22px;
}

/*Button Styling*/

/* Styles for the normal state */
.stats-button {
    display: inline-block;
    padding: 2px 20px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    background-color: black;
    transition: all 0.3s ease;
    /* Adding a smooth transition effect */
    margin-right: 160px;
    margin-bottom: 10px;
    font-family: 'Cabinet Grotesk Light';
}

/* Styles for the hover state */
.stats-button:hover {
    color: black;
    border-color: black;
    background-color: white;
}

.stats-button a {
    color: #ffffff;
    /* Change the color to your desired text color */
    text-decoration: none;
    /* Remove underlining */
}

.stats-button:hover a {
    color: black;
    /* Change the text color to black on hover */
    font-weight: bold;
    /* Set the font weight to bold on hover */
}




/*----------------------------------------------------MOBILE ---------------------------------------------------------*/

@media (max-width: 767px) {
    .articles-container {
        grid-template-columns: 1fr;
        /* Change to a single column layout */
        justify-content: center;
        /* Center the grid items horizontally */
    }

    .right-article {
        order: 1;
        /* Set the order to 2, so it appears below the left article */
    }

    
    .left-article {
        order: 2;
        /* Set the order to 1, so it appears above the right article */
    }


    .stats-title {
        margin-left: 0;
        /* Remove the left margin for mobile layout */
        text-align: center;
        /* Center the text on mobile */
        font-size: 23px;
    }

    .stats-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Center the content horizontally within stats-container */
    }

    .stats-button {
        margin: 0 auto;
        /* Center the button on mobile */
        margin-bottom: 15px;
    }

    .right-article img {
        margin: 0 auto;
        /* Center the image on mobile */
        margin-bottom: 15px;
        /* Add some bottom margin for spacing on mobile */
    }

    .stats {
        font-size: 55px;
    }

    .description {
        font-size: 14px;
    }

    /* Style for each row */
    .row {
        justify-content: center;
    }

    .box {
        margin: 15px;
    }
}