@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital@1&display=swap');

@media (min-width: 769px) {
    .recruting-section {
        background-image: linear-gradient(rgba(0, 0, 0, 1), transparent 20%), url('../../images/Committee/DesktopRecruting.png');
        background-size: cover;
        background-position: center top;
        position: relative;
    }

}

.recruting-section {
    height: 100vh;
    /* Set the height to cover the whole screen */
    position: relative;
}

.recruting-text h1 {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Cabinet Grotesk Bold';
}

.recruting-text {
    position: absolute;
    top: 50%;
    /* Adjust the value to position the text vertically */
    left: 34%;
    /* Adjust the value to position the text horizontally */
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px;
    max-width: 800px;
    /* Adjust the maximum width of the text box as needed */
    color: white;
    font-family: 'Cabinet Grotesk Regular';
}

.button-container {
    position: absolute;
    top: 64%;
    /* Adjust the value to lower or raise the button */
    left: 14%;
    /* Adjust the value to position the button horizontally */
    transform: translate(-50%, -50%);
    z-index: 2;
    font-family: 'Cabinet Grotesk Light';
}

.recruting-button {
    padding: 15px 30px;
    /* This controls the size of the button */
    background-color: #050801;
    color: #9F1D35;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.recruting-button:hover {
    background: #9F1D35;
    color: #050801;
    box-shadow: 0 0 5px #9F1D35,
        0 0 25px #9F1D35,
        0 0 50px #9F1D35,
        0 0 200px #9F1D35;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}


/*----------------------------------------------------MOBILE ---------------------------------------------------------*/

@media (max-width: 768px) {

    .recruting-section {
        background-image: linear-gradient(rgba(0, 0, 0, 1), transparent 20%), url('../../images/Committee/MobileRecruting.png');
        background-size: cover;
        height: 65vh;
    }

    .recruting-text h1 {
        font-size: 20px;
    }

    .recruting-text {
        font-size: 11px;
        position: absolute;
        top: 65%;
        /* Adjust the value to position the text vertically */
        left: 35%;
        /* Adjust the value to position the text horizontally */
        transform: translate(-50%, -50%);
    }

    .recruting-button {
        padding: 10px 10px;
        /* This controls the size of the button */
        font-size: 12px;
    }

    .button-container {
        position: absolute;
        top: 90%;
        /* Adjust the value to lower or raise the button */
        left: 24%;
        /* Adjust the value to position the button horizontally */
    }
}