#video-container {
  max-width: 50%; /* Adjust this value to make the video smaller or larger */
  margin: 0 auto;
  text-align: center;
  border: 6px solid #1a1e21; /* Cool blue border color */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Hide overflowing border */
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style for the video element */
#video-container video {
  display: block;
  width: 100%;
}