.HistorySection {
    background-size: cover;
    background-position: center;
}

.stats-title {
    text-align: center;
    font-size: 50px;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1900px;
    margin: 0 auto;
}

.stat-box {
    text-align: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.stat-box:hover {
    background-color: transparent;
    transform: scale(1.05);
}

.stats {
    font-size: 60px;
    font-weight: bold;
    color: darkred;
}

.description {
    font-size: 20px;
    font-weight: 600;
    color: brown;
}


@media only screen and (max-width: 767px) {
    .stats-title {
        font-size: 26px;
    }
    
    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 300px;
    }
    
    .stat-box {
        text-align: center;
        padding: 10px;
    }
    
    .stats {
        font-size: 24px;
    }
    
}

@media (min-width: 768px) {
    .HistorySection {
        background-image: url('../../images/Schoolimages/TitanicFacadeDesktop.png');
    }
}

@media (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
    }

    
    .HistorySection {
        background-image: url('../../images/Schoolimages/TitanicFacadeMobile.png');
    }
}