.timer-container {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px; /* Add padding for better spacing */
    position: relative; /* Add relative positioning for bars */
}

.timer-unit {
    flex: 1;
    text-align: center;
    color: #fff;
    position: relative; /* Add relative positioning for bars */
}

.timer-number {
    font-size: 5rem; /* Larger font size for numbers */
    font-family: 'Cabinet Grotesk Light';
}

.timer-description {
    font-size: 1.3rem; /* Smaller font size for descriptions */
    font-family: 'Cabinet Grotesk Thin';
}

/* Vertical bars for desktop */
.timer-unit:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px; /* Adjust spacing as needed */
    width: 1px; /* Adjust the width of vertical bars */
    background-color: #fff;
    margin-right: 5px;
}


